.preparation-time-container{
    width: 97%;
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    border-radius: 10px;
}

.preparation-time-container h3{
    color: hsl(332, 51%, 32%);
    margin-left: 12px;
}

.preparation-time-list li{
    margin: 8px 0;
    color: hsl(30, 10%, 34%);
    padding-left: 20px;
}

.preparation-time-list li::marker{
    color: hsl(332, 51%, 32%);
}

.darker-text{
    font-weight: bold;
}

h2{
    color: hsl(14, 45%, 36%);
    font-family: Young Serif;
    font-size: 28px;
}

li{
    padding-left: 20px;
    margin: 8px 0;
    font-size: 17px;
}

.ingredients-list li::marker{
    color: hsl(14, 45%, 36%);
}

hr{
    width: 100%;
    margin: 40px 0;
}

.instructions-list li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.nutrition-container p{
    font-size: 18px;
}

.nutrition-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nutrition-grid hr{
    margin: 0;
}

.main-grid-text{
    margin-left: 40px;
    font-weight: 500;
}

.stats-grid-text{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

.attribution{
    background-color: white;
    padding: 20px 40px;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
    color: hsl(30, 10%, 34%);
    font-weight: bold;
}